p {
  background: none;
  /* border: none; */
  border: 1px none blue;
  /* margin: 0 1rem; */
  font-size: calc(10px + 2vmin);

  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
}

input {
  background: none;
  border: none;
  border: 1px solid blue;
  font-size: calc(10px + 2vmin);
  margin-block-start: 1em;
}

.output {
  /* color: #095ad3; */
  background: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.flex {
  /* border: 2px solid #ee0c21; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex__item {
  flex-grow: 1;
  border: 3px solid #fff;
  background-color: rgb(230, 230, 230);
  border-radius: 0px;
}
.flex__item--toCenter {
  text-align: center;
}
.flex__item--toLeft {
  text-align: left;
}
.flex__item--toRight {
  text-align: right;
}
